[Unit]
Description=Backend Flask Robot
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/yvars/Desktop/RobotChenilles/backend/main.py
WorkingDirectory=/home/yvars/Desktop/RobotChenilles/backend
StandardOutput=inherit
StandardError=inherit
Restart=always
User=yvars

[Install]
WantedBy=multi-user.target
